page-reset-password {
    .password-contant ion-item.item-input {
        border-radius: 100px !important;
    }
    .password-contant p {
        line-height: 2.4rem;
    }
    .password-hint {
        width: 100%;
        float: left;
    }
    .password-hint ul {
        list-style: none;
        padding: 24px 0 8px;
        margin: 0;
    }
    .password-hint ul li {
        line-height: 30px;
    }
    .password-hint ul li i {
        padding-right: 10px;
        display: inline-block;
        float: left;
        line-height: 30px;
    }
    .password-hint ul li span {
        display: flex;
    }
    .password-hint ul li .glyphicon-ok {
        color: #3cbe78;
    }
    .password-hint ul li .glyphicon-remove {
        color: #f13f4d;
    }
    .password-hint ion-icon {
        float: left;
        display: flex;
        line-height: 26px;
        margin-right: 15px;
        font-weight: 900;
        font-size: 18px;
    }
}