<ion-content padding class="container password-contant">
    <section class="w-1024">
        <div col-12 text-center>
            <img width="60px" src="assets/images/logo.png" />
        </div>
        <div col-lg-6 col-12 class="m-0-auto p-t-65" *ngIf="!is_success">
            <h2 text-center padding-bottom class="f-26 primary-text">
                <strong>Forgot your password?</strong>
            </h2>
            <p text-center padding-bottm class="f-18 gray-text">Please enter your email address and we will send you a link to reset your password.</p>
            <form [formGroup]="forgotPasswordForm" autocomplete="off">
                <ion-row>
                    <ion-label stacked>EMAIL ADDRESS</ion-label>
                    <ion-item>
                        <ion-input formControlName="email" id="email" type="text" [class.invalid]="!forgotPasswordForm.controls.email.valid && (forgotPasswordForm.controls.email.dirty || submitAttempt)" (focus)="isTouched('email',true)" (focusout)="isTouched('email',false)"></ion-input>
                        <!-- <ion-icon name="checkmark" item-right color="green" *ngIf="forgotPasswordForm.controls['email'].valid && is_unique_email"></ion-icon> -->
                    </ion-item>

                    <p class="error m-0-auto" col-12 ion-text color="danger" *ngIf="forgotPasswordForm.controls['email'].hasError('required') && forgotPasswordForm.controls['email'].touched&& !forgotPasswordForm.controls['email'].hasFocus">Email field is required.</p>
                    <p class="error m-0-auto" col-12 ion-text color="danger" *ngIf="forgotPasswordForm.controls['email'].hasError('pattern') && forgotPasswordForm.controls['email'].touched&& !forgotPasswordForm.controls['email'].hasFocus">Please enter a valid email.</p>
                    <p class="error m-0-auto" col-12 ion-text color="danger" *ngIf="!is_unique_email && !forgotPasswordForm.controls['email'].hasError('pattern')">{{is_unique_email_msg}}</p>
                </ion-row>
                <div class="m-t-10">
                    <div padding-top text-center>
                        <button col-12 col-lg-8 col-md-6 ion-button round class="submit-btn" (click)="isEmailUnique()" color="primary">request reset link</button>
                    </div>
                    <div col-12 text-center>
                        <a [navPush]="signInPage">Back to sign in</a>
                    </div>
                </div>
            </form>
        </div>

        <div col-lg-6 col-12 class="m-0-auto p-t-65" *ngIf="is_success">
            <h2 text-center margin-bottom padding-bottom class="f-26 primary-text">
                <strong>Please check your email</strong>
            </h2>
            <p padding-top class="gray-text">
                <strong>You will receive an email from us in the next few minutes, if the email you indicated exists in our system and you have
					an active account. Please follow the instruction in the email to change your password.</strong>
            </p>
            <p text-center padding-bottm class="gray-text">If you don't see any email from us in your inbox, please check your junk mail folder as it may have been mistakenly categorized as spam.</p>

            <div padding-top>
                <div padding-top text-center>
                    <a col-12 col-lg-8 col-md-6 ion-button round color="primary" [navPush]="signInPage">go back to homepage</a>
                </div>
            </div>
        </div>
    </section>
</ion-content>