page-review {
    ion-item.active h2 {
        color: #604a70;
    }
    ion-list ion-item.item{
		opacity: 0.8;
	}

    .label-md {
        margin: 20px 8px 20px 0;
    }
    img {
		cursor: pointer !important;
	}

    @media (max-width: 480px) {
		.scroll-content {
			padding: 20px !important;
		}
	}

}
