<!-- Generated template for the StaticFooterComponent component -->
<section class="new-footer">
	<div class="w-1024">
		<ion-row class="first-row">
			<div col-lg-4 col-md-4 col-12 class="left-logo">
				<a href="#">
					<img src="assets/images/full_logo.png" />
				</a>
			</div>
			<div col-lg-4 col-md-4 col-12 padding-bottom margin-bottom class="left">
				<ul>
					<li>
						<a (click)="about()">About Wakeful</a>
					</li>
					<li>
						<a (click)="overview()">FAQs</a>
					</li>
					<li>
						<a (click)="contact()">Contact us</a>
					</li>
				</ul>
			</div>
			<div col-lg-4 col-md-4 col-12 class="left">
				<ul>
					<li>
						<a href="#/terms-conditions">Terms & Conditions</a>
					</li>
					<li>
						<a href="#/privacy-policy">Privacy Policy</a>
					</li>
					<li>
						<a href="#/acknowledgements">Acknowledgements</a>
					</li>
				</ul>
			</div>
			
			<!-- Start Download app button -->
			<!-- <div col-lg-3 col-md-3 col-12 class="right">
				<h5>
					<strong>Download our app</strong>
				</h5>
				<div class="store-btn">
					<a href="#">
						<img src="assets/images/btn_appstore.png">
					</a>
					<a href="#">
						<img src="assets/images/btn_playstore.png">
					</a>
				</div>
			</div> -->
			<!-- End Download app button -->

		</ion-row>
		<!-- <ion-row text-center justify-content-center>
            <div col-12 class="social-btn">
                <a href="#">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
                <a href="#">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a>
                <a href="#">
                    <ion-icon name="logo-youtube"></ion-icon>
                </a>
                <a href="#">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
            </div>
        </ion-row> -->
		<ion-row text-center justify-content-center>
			<div col-12 class="bottom-link">
				<ul>
					<li>© 2018 wakeful INC.</li>
				</ul>
			</div>
		</ion-row>
	</div>
</section>