page-intention {
    .toolbar-title-md,
    .toolbar-title-ios {
        margin-top: 0;
    }
    textarea.text-input {
        background: #FFF;
        font-size: 2rem;
    }
    .toolbar-title-md,
    .toolbar-title-ios {
        margin-top: 0;
    }
    @media (max-width: 425px) {
        textarea.text-input {
            font-size: 1.5rem;
        }
    }
}