ion-content{
    background-image: url("../assets/images/bg-class-schedule-dt.jpg") !important;
}
table {
	border-collapse: separate;
	border-spacing: 5px;
}
.table-schedule table thead th, .table-schedule table tbody tr td {
	border: none;
}